---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import ContactCard from "../components/ContactCard.astro";

const contacts = [
    {
        icon: "ri:mail-unread-fill",
        title: "Email",
        description: "Contact me at",
        linkText: "hello@jacurtis.com",
        linkUrl: "#"
    },
    {
        icon: "ri:mastodon-fill",
        title: "Mastadon",
        description: "Fun, Quirky, Casual, and Frequent",
        linkText: "jacurtis@mastodon.social",
        linkUrl: "https://mastodon.social/@jacurtis"
    },
    {
        icon: "ri:linkedin-box-fill",
        title: "LinkedIn",
        description: "Professional network updates",
        linkText: "jalexandercurtis",
        linkUrl: "https://www.linkedin.com/in/jalexandercurtis/"
    },
    {
        icon: "ri:github-fill",
        title: "Github",
        description: "Commits and Contributions",
        linkText: "@jacurtis",
        linkUrl: "https://github.com/jacurtis"
    }
];
---

<BaseLayout sideBarActiveItemID="connect">
    <div class="pb-12 mt-5">
        <div class="text-xl py-1">Follow & Stay in Touch 📬</div>
        <div class="text-5xl font-bold mb-14">Let's Connect</div>
        <!--<div class="text-3xl py-3 font-bold">Infrastructure Engineer & Cybersecurity Expert</div>-->
        <div class="py-2">
            <p class="block antialiased font-sans text-xl leading-relaxed text-inherit mt-2 w-full font-normal !text-gray-500">
                You can find me writing and contributing all around the internet. If you want to stay in touch, there are
                numerous wants to stay connected. I don't stay active on every social network, but I am particularly engaged
                on Mastodon and I try to update notes on here daily as possible.
            </p>
        </div>

        <div class="pt-8">
            <div class="grid w-full grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-2">
                { contacts.map((contact) => (
                        <ContactCard
                                icon={ contact.icon }
                                title={ contact.title }
                                description={ contact.description }
                                linkText={ contact.linkText }
                                linkUrl={ contact.linkUrl }
                        />
                ))}
            </div>
        </div>
    </div>

</BaseLayout>
