---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
// import HorizontalCard from "../components/HorizontalCard.astro";
// import { getCollection } from "astro:content";

// const posts = (await getCollection("notes")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
//
// const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="connect">
    <div class="pb-12 mt-5">
        <div class="text-xl py-1">Follow & Stay in Touch 📬</div>
        <div class="text-5xl font-bold mb-14">Let's Connect</div>
        <!--<div class="text-3xl py-3 font-bold">Infrastructure Engineer & Cybersecurity Expert</div>-->
        <div class="py-2">
            <p class="block antialiased font-sans text-xl leading-relaxed text-inherit mt-2 w-full font-normal !text-gray-500">
                You can find me writing and contributing all around the internet. If you want to stay in touch, there are
                numerous wants to stay connected. I don't stay active on every social network, but I am particularly engaged
                on Mastodon and I try to update notes on here daily as possible.
            </p>
        </div>

        <div class="pt-8">
            <div class="grid w-full grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-2">
                <div class="flex flex-col items-center gap-3 px-8 py-10 bg-white rounded-3xl drop-shadow-lg">
                    <Icon name="ri:mail-unread-fill" size="48" class="text-indigo-600"/>
                    <p class="text-2xl font-extrabold text-dark-grey-900">Email</p>
                    <p class="text-base leading-7 text-dark-grey-600">Contact me at</p>
                    <a class="text-lg font-bold text-purple-blue-500">hello@jacurtis.com</a>
                </div>
                <div class="flex flex-col items-center gap-3 px-8 py-10 bg-white rounded-3xl drop-shadow-lg">
                    <Icon name="ri:mastodon-fill" size="48" class="text-indigo-600"/>
                    <p class="text-2xl font-extrabold text-dark-grey-900">Mastadon</p>
                    <p class="text-base leading-7 text-dark-grey-600">Fun, Quirky, Casual, and Frequent</p>
                    <a class="text-lg font-bold text-purple-blue-500" href="https://mastodon.social/@jacurtis">jacurtis@mastadon.social</a>
                </div>
                <div class="flex flex-col items-center gap-3 px-8 py-10 bg-white rounded-3xl drop-shadow-lg">
                    <Icon name="ri:linkedin-box-fill" size="48" class="text-indigo-600"/>
                    <p class="text-2xl font-extrabold text-dark-grey-900">LinkedIn</p>
                    <p class="text-base leading-7 text-dark-grey-600">Professional network updates</p>
                    <a class="text-lg font-bold text-purple-blue-500" target="_blank" href="https://www.linkedin.com/in/jalexandercurtis/">jalexandercurtis</a>
                </div>
                <div class="flex flex-col items-center gap-3 px-8 py-10 bg-white rounded-3xl drop-shadow-lg">
                    <Icon name="ri:github-fill" size="48" class="text-indigo-600"/>
                    <p class="text-2xl font-extrabold text-dark-grey-900">Github</p>
                    <p class="text-base leading-7 text-dark-grey-600">Commits and Contributions</p>
                    <a class="text-lg font-bold text-purple-blue-500" target="_blank" href="https://github.com/jacurtis">@jacurtis</a>
                </div>
            </div>
        </div>
    </div>

</BaseLayout>
