---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import Link from "../components/Link.astro";

const posts = (await getCollection("notes")).filter((p) => import.meta.env.PROD ? p.data.draft !== true : true).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm J. <u>Alex</u>ander <u>Curtis</u></div>
    <div class="text-3xl py-3 font-bold">Cloud Architect & Cybersecurity Expert</div>
    <div class="py-2">
      <p class="text-lg py-2">
        This is my <b>Slice of the Internet</b> where I collect, explore, and post my thoughts, while also providing updates
        those that are interesting in following what I am up to.
      </p>
      <p class="text-lg py-2">
        My latest updates can be found under <Link href="/notes">Notes</Link>, where I write quick updates
        on what I am doing and where I am writing each day. These updates are fast and quick, and you can consider
        subscribing to this <Link href="/rss.xml" target="_self">Feed via RSS</Link>.
      </p>
      <p class="text-lg py-2">
        My <Link href="/wiki">Wiki</Link> is a digital garden where I tend to my most important thoughts
        and explorations. These are curated and detailed guides of interesting topics I have been exploring. You can also
        <Link href="/connect">connect with me</Link> by following me on Bluesky, Mastodon, LinkedIn, and GitHub.
      </p>
      <!--<p class="text-lg py-2">-->
      <!--  Finally, the Sofa Chronicles are where I review some books, movies, and games I have played recently and dive-->
      <!--  deeper into their meaning-->
      <!--</p>-->
    </div>
    <div class="mt-8">
      <a class="btn" href="/connect" target="_self">Let's connect!</a>
      <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Subscribe to my Substack <img src="/substack-xs.png" height="22" width="22" alt="Substack Icon"/>
      </a>
      <object id="free-arrow-left" class="inline ml-2 invisible md:visible" data="/free-arrow.svg" height="32px"></object>
    </div>
  </div>

  <!-- NOTES SECTION -->
  <div class="sec-blog mt-2">
    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest Notes</div>
    </div>

    {
      last_posts.map((post) => (
          <>
            <HorizontalCard
                title={post.data.title}
                img={post.data.heroImage}
                desc={post.data.description}
                url={"/notes/" + post.id}
                target="_self"
                badge={post.data.badge}
            />
            <div class="divider my-0"/>
          </>
      ))
    }
  </div>

  <!-- PROJECT SECTION -->
  <!--
  <div class="sec-projects mt-12">
    <div>
      <div class="text-3xl w-full font-bold mt-5 mb-5">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
        title="Demo Project 1"
        img="/post_img.webp"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        url="#"
        badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Demo Project 2"
        img="/post_img.webp"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        url="#"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Demo Project 3"
        img="/post_img.webp"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        url="#"
        badge="FOSS"
    />
  </div>
  -->
</BaseLayout>
