---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base rounded" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-base rounded" id="notes" href="/notes">Notes</a></li>
    <li><a class="py-3 text-base rounded" id="wiki" href="/wiki">Wiki</a></li>
    <!--<li><a class="py-3 text-base" id="cv" href="/hire">Hire Me</a></li>-->
    <li><a class="py-3 text-base rounded" id="connect" href="/connect">Connect</a></li>
    <!--<li>-->
    <!--    <a-->
    <!--        class="py-3 text-base"-->
    <!--        href="mailto:contact.manuelernestog@gmail.com"-->
    <!--        target="_blank"-->
    <!--        referrerpolicy="no-referrer-when-downgrade">Contact</a-->
    <!--    >-->
    <!--</li>-->
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
