---
import { Icon } from 'astro-icon/components'
---
<div class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]">
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <!--MASTODON-->
    <a
        href="https://mastodon.social/@jacurtis"
        target="_blank"
        class="mx-3"
        aria-label="Mastodon"
        title="Mastodon"
    >
        <Icon name="ri:mastodon-fill" size="24"/>
        <span class="tooltip">Mastodon</span>
    </a>

    <!--GITHUB-->
    <a href="https://github.com/jacurtis"
       target="_blank"
       class="mx-3"
       aria-label="Github"
       title="Github"
    >
        <Icon name="ri:github-fill" size="24"/>
        <span class="tooltip">Github</span>
    </a>

    <!--TWITTER / X-->
    <a href="https://twitter.com/_jacurtis"
       target="_blank"
       class="mx-3"
       aria-label="Twitter"
       title="Twitter"
    >
        <Icon name="ri:twitter-fill" size="24"/>
        <span class="tooltip">Twitter</span>
    </a>

    <!--LINKEDIN-->
    <a
        href="https://www.linkedin.com/in/jalexandercurtis"
        target="_blank"
        class="mx-3 group relative"
        aria-label="Linkedin"
        title="Linkedin"
    >
        <Icon name="ri:linkedin-fill" size="24"/>
        <span class="tooltip">LinkedIn</span>
    </a>

    <!--RSS FEED-->
    <a href="/rss.xml"
       target="_blank"
       class="mx-3"
       aria-label="RSS Feed"
       title="RSS Feed"
    >
        <Icon name="ri:rss-fill" size="24"/>
        <span class="tooltip">RSS Feed</span>
    </a>
</div>
