---
import { Icon } from 'astro-icon/components'

const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base rounded" id="home" href="/"><Icon name="ri:home-3-line" size="28"/>Home</a></li>
    <li><a class="py-3 text-base rounded" id="notes" href="/notes"><Icon name="ri:inbox-line" size="28"/>Notes</a></li>
    <li><a class="py-3 text-base rounded" id="wiki" href="/wiki"><Icon name="ri:book-marked-line" size="28"/>Wiki</a></li>
    <!--<li><a class="py-3 text-base" id="cv" href="/hire">Hire Me</a></li>-->
    <li><a class="py-3 text-base rounded" id="connect" href="/connect"><Icon name="ri:chat-smile-3-line" size="28"/>Connect</a></li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
